apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "harborhook.fullname" . }}-worker
  labels:
    {{- include "harborhook.labels" . | nindent 4 }}
    app.kubernetes.io/component: worker
spec:
  replicas: {{ .Values.worker.replicaCount }}
  selector:
    matchLabels:
      {{- include "harborhook.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: worker
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.worker.service.httpPort }}"
        prometheus.io/path: "/metrics"
      labels:
        {{- include "harborhook.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: worker
    spec:
      serviceAccountName: {{ include "harborhook.serviceAccountName" . }}
      containers:
        - name: worker
          image: "{{ .Values.worker.image.repository }}:{{ .Values.worker.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.worker.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.worker.service.httpPort }}
              protocol: TCP
          envFrom:
            - configMapRef:
                name: {{ include "harborhook.fullname" . }}-worker-config
          volumeMounts:
            - name: certs
              mountPath: /etc/certs
              readOnly: true
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: certs
          secret:
            secretName: {{ .Values.worker.certsSecretName | default (printf "%s-certs" (include "harborhook.fullname" .)) }}
